// Colors
@color-bg-app: lighten(#E3DCD5, 8%); //#F5EFE6; //#fff; //lighten(#E4E2E0, 9%); //#fff; //#fafafa; //#E4E2E0; //#fff;
@color-accent: #4EA466;
@color-accent-active: #328443;
@color-grey: #E4E2E0;


// Sizes
@height-case: 190px;

// Font
@font-size-basic: 14px;
@font-size-small: 12px;

@font-weight-basic: 300;
@font-weight-bold: 700;

@font-color-basic: #000;
@font-color-light: #999;


// Transition
@transition-basic: 0.5s ease-out;
